<aside class="border-end border-top border-3" id="sidebar-wrapper">
    <div class=" list-group list-group-flush">

        <div class="list-group-item list-group-item-dark p-2">Estadisticas</div>
        <a routerLink="/" class="list-group-item list-group-item-action list-group-item-secondary p-2"
            [ngClass]="{'active':currentRoute === '/'}"
        >
            <i class="bi bi-speedometer2 me-2 fs-5"></i>
            Panel
        </a>

        <div class="list-group-item list-group-item-dark p-2">Compras y ventas</div>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-cart-fill me-2 fs-5"></i>
            Compras
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-bag me-2 fs-5"></i>
            Ventas
        </a>

        <div class="list-group-item list-group-item-dark p-2">Inventario</div>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-tag me-2 fs-5"></i>
            Categorias
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-archive-fill me-2 fs-5"></i>
            Productos
        </a>

        <div class="list-group-item list-group-item-dark p-2">Proveedores y clientes</div>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-truck me-2 fs-5"></i>
            Proveedores
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-person-fill me-2 fs-5"></i>
            Clientes
        </a>

        <div class="list-group-item list-group-item-dark p-2">Usuarios y roles</div>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-people-fill me-2 fs-5"></i>
            Usuarios
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-2">
            <i class="bi bi-person-bounding-box me-2 fs-5"></i>
            Roles
        </a>
    </div>
</aside>