<aside class="border-end border-top border-3" id="sidebar-wrapper">
    <div class=" list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-3">An item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-3">A second item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-3">A third item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-3">A fourth item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary p-3">And a fifth one</a>
    </div>
</aside>