<header class="d-flex bg-primary ps-3 pe-3">
  <button type="button" (click)="onToggleSidenav()" *ngIf="isLogged" class="btn btn-primary align-self-center fs-4">
    <i class="bi bi-list"></i>
  </button>
  <nav class="navbar navbar-dark flex-fill">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <i class="bi bi-shop fs-3 me-2"></i>
          {{pageTitle}}
        </a>
        <div class="dropdown" *ngIf="isLogged">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown">
            User
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuUser">
            <li><button class="dropdown-item" type="button" (click)="onLogout()">Cerrar sesión</button></li>
          </ul>
        </div>
      </div>
  </nav>
</header>