<div id="users" class="container">
  <div class="p-2 text-end" *ngIf="check('user.register')">
    <button type="button" class="btn btn-primary mt-3" 
      data-bs-toggle="modal" data-bs-target="#registerModal" 
      (click)="onRegisterModal()"
    >
      Añadir nuevo
    </button>
    <ng-template #registerModal let-modal>
      <modal-register 
        [modalData]="modalData.asObservable()"
        (updateUsers)="getUsers()"
        (closeModal)="closeModal()"
      ></modal-register>
    </ng-template>
  </div>
  <div class="row">
    <component-users-table
      [columns]="columns"
      [users]="users"
      (onUpdateUser)="onUpdateModal($event)"
      (onDeleteUser)="onDelete($event)"
    ></component-users-table>
  </div>
</div>

