<div id="users" class="container">
  <div class="p-2 text-end" *ngIf="check('user.register')">
    <button type="button" class="btn btn-primary text-light mt-3" 
      data-bs-toggle="modal" data-bs-target="#registerModal" 
      (click)="onRegisterModal()"
    >
      Añadir nuevo
    </button>
    <ng-template #registerModal let-modal 
      *ngIf="check('user.register') || check('user.update')"
    >
      <app-register-modal 
        [data]="modalData"
        (updateUsers)="getUsers()"
        (closeModal)="closeModal()"
      ></app-register-modal>
    </ng-template>
  </div>
  <div class="row">
    <component-table-user
      [columns]="columns"
      [users]="chargeTable.asObservable()"
      (onUpdateUser)="onUpdateModal($event)"
      (onDeleteUser)="onDelete($event)"
    ></component-table-user>
  </div>
</div>

