<div class="m-3">
    <form>
      <div class="input-group">
          <div class="form-floating">
              <input class="form-control ml-2" id="floatingSearchTerm" 
                  type="text" name="searchTerm" placeholder="Example" 
                  [(ngModel)]="searchTerm"
                  (input)="search($event)" 
              />
              <label for="floatingSearchTerm">Buscar rol</label>
          </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of columns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let value of values | listFilter: searchTerm | slice: (page-1) * pageSize : page * pageSize; index as i">
          <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
          <td>{{ value.name }}</td>
        </tr>
      </tbody>
    </table>
  
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
      [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
</div>