<button class="btn btn-primary list-group-item list-group-item-secondary w-100" type="button"
    [attr.aria-expanded]="!isCollapsed" [attr.aria-controls]="'collapse'+listGroup.name" (click)="isCollapsed=!isCollapsed"
>
    {{listGroup.title}}
</button>
<div class="list-group-item list-group list-group-flush collapse p-0" 
    [ngClass]="{show: itemsPath.includes(currentRoute)}"
    [id]="'collapse'+listGroup.name" [ngbCollapse]="isCollapsed"
>
    <sidebar-list-group-items 
        *ngFor="let item of listGroup.items" 
        [item]="item"
        [currentRoute]="currentRoute"
    ></sidebar-list-group-items>
</div>