<div id="login-container" class="flex-fill">
    <form class="border border-3 rounded-3 p-5" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h2 class="text-center pb-3">Identificate</h2>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="email" required name="email"
            ngModel email>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password"
            ngModel minlength="6">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
        </div>
    </form>
</div>
