<div id="login-container" class="flex-fill">
    <form class="border border-3 rounded-3 p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center pb-3">Identificate</h2>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" formControlName="email" id="email" 
            email required
            [ngClass]="{'is-invalid': !loginForm.get('email')?.valid 
              && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)}"
          >
          <div id="emailFeedback" class="invalid-feedback"
            *ngIf="!loginForm.get('email')?.valid 
              && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
          >
            <p *ngIf="loginForm.get('email')?.errors?.['invalid']">{{loginForm.get('email')?.getError('invalid')}}</p>
            <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</p>
            <p *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid.</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" formControlName="password" id="password"
            minlength="6" required
            [ngClass]="{'is-invalid': !loginForm.get('password')?.valid 
              && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)}"
          >
          <div id="passwordFeedback" class="invalid-feedback"
            *ngIf="!loginForm.get('password')?.valid 
              && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
          >
          <p *ngIf="loginForm.get('password')?.errors?.['invalid']">{{loginForm.get('password')?.getError('invalid')}}</p>
          <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</p>
          <p *ngIf="loginForm.get('password')?.errors?.['min-length']">Name must be at least 6 characters long.</p>
          </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Entrar</button>
        </div>
    </form>
</div>
